.search-bar {
  background-color: #f1f3f4;
  padding: 10px;
  padding: 20px 60px 10px 60px;
}

.search-jobs-btn {
  background-color: rgb(87, 178, 40);
  color: white;
  padding: 5px 12px;
  border-radius: 26px;
  font-size: 13px;
  font-weight: 700;
}

.search-jobs-input {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-width: 1px;
  color: black;
  cursor: text;
  border-color: rgb(216, 219, 220);
  padding: 8px 20px;
  min-width: 288px;
  margin-right: 10px;
  text-indent: 17px;
  background: url(/assets/input-search.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}

.search-jobs-input:last-of-type {
  background: url(/assets/input-location.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}
