:root {
  --green-color: #268814;
  --bg-color: #f1f3f4;
}

#page-content {
  background-color: var(--bg-color);
  padding: 10px 60px 10px 60px;
  height: 100%;
  overflow-y: scroll;
}

#path-bar,
.jobs-stats {
  padding-bottom: 10px;
}

#path-bar a {
  font-size: 12px;
  color: var(--green-color);
  text-decoration: none;
}

#path-bar a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #page-content {
    padding: 10px;
  }

  #path-bar {
    display: none;
  }

  .jobs-stats {
    color: #72777c;
    font-size: 10px;
  }
}
