*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

button,
input {
  overflow: visible;
}

input:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  background: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

ul {
  padding-inline-start: unset;
}

/* Stacking layers */
.layer-one {
  z-index: 100;
}

.layer-two {
  z-index: 200;
}
