.header {
  padding: 10px 0px;
  position: sticky;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 8px #e8e8e8;
  margin-bottom: 2px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}

.logo {
  height: 34px;
  width: 154px;
}

.top-nav-link {
  color: #72777c;
  padding: 10px 10px 10px 10px;
}

.top-nav-link:hover {
  color: #2f3639;
  border-bottom: 2px solid #72777c;
}
