:root {
  --green-color: #268814;
  --white-color: #fff;
  --bg-color: #f1f3f4;
  --light-border-color: #d8dbdc;
  --main-font-color: #2f3639;
  --link-color: #72777c;
  --box-shadow: #e8e8e8;
}

.header {
  padding: 10px 0px;
  position: sticky;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 5px 10px 8px var(--box-shadow);
  margin-bottom: 2px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}

.logo {
  height: 34px;
  width: 154px;
}

.top-nav-link {
  color: var(--link-color);
  padding: 10px 10px 17px 10px;
}

.top-nav-link:hover {
  color: var(--main-font-color);
  border-bottom: 2px solid #72777c;
}

.search-bar {
  background-color: var(--bg-color);
  padding: 10px 60px;
  display: flex;
  align-items: flex-start;
}

.search-jobs-btn {
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 8px 14px;
  border-radius: 26px;
  font-size: 13px;
  font-weight: 700;
}

.search-jobs-input {
  background-color: var(--bg-color);
  border-radius: 6px;
  border-width: 1px;
  color: black;
  cursor: text;
  border-color: var(--light-border-color);
  padding: 8px 20px 8px 40px;
  min-width: 288px;
  margin-right: 10px;
  background: url(/assets/input-search.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}

.search-jobs-input:last-of-type {
  background: url(/assets/input-location.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}

.filter-bar {
  padding: 10px 60px 0px 60px;
}

.filter-link {
  color: black;
  font-size: 12px;
  padding-right: 10px;
}

.filter-link:hover {
  text-decoration: underline;
}

.filter-link::after {
  content: " ▾";
  width: 0;
  height: 0;
  color: var(--link-color);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .top-bar {
    padding: 10px 10px;
  }

  .search-bar {
    padding: 10px 10px;
  }

  .filter-bar {
    display: none;
  }

  .top-nav {
    display: none;
  }
  .search-jobs-input:last-of-type {
    display: none;
  }
}
