#header {
  padding: 10px 0px;
  position: sticky;
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 5px 10px 8px var(--box-shadow);
  margin-bottom: 2px;
}

#top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}

.logo {
  height: 34px;
  width: 154px;
}

/*
  Screen reader only
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-toggle {
  background-image: url(/assets/menu.svg);
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
}

#search-bar {
  background-color: var(--bg-color);
  padding: 10px 60px;
  display: flex;
  align-items: flex-start;
}

.search-jobs-btn {
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 8px 14px;
  border-radius: 26px;
  font-size: 13px;
  font-weight: 700;
}

.search-jobs-input {
  background-color: var(--bg-color);
  border-radius: 6px;
  border-width: 1px;
  color: black;
  cursor: text;
  border-color: var(--light-border-color);
  padding: 8px 20px 8px 40px;
  min-width: 288px;
  margin-right: 10px;
  background: url(/assets/input-search.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .search-jobs-input:before {
  content: "f002";
  background-position: 10px;
  background-repeat: no-repeat;
} */

.search-jobs-input:last-of-type {
  background: url(/assets/input-location.svg);
  background-position: 10px;
  background-repeat: no-repeat;
}

.filter-jobs {
  color: var(--blue-color);
  font-size: 14px;
  display: none;
}

#filter-bar {
  padding: 10px 60px 0px 60px;
}

#filter-bar a {
  color: black;
  font-size: 12px;
  padding-right: 10px;
  text-decoration: none;
}

#filter-bar a:hover {
  text-decoration: underline;
}

#filter-bar a::after {
  content: " ▾";
  width: 0;
  height: 0;
  color: var(--link-color);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #top-bar {
    padding: 10px 10px;
  }

  #search-bar {
    padding: 10px 10px;
    align-items: center;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
  }

  .filter-jobs {
    display: block;
  }

  .search-jobs-btn {
    display: none;
  }

  #filter-bar {
    display: none;
  }

  .search-jobs-input {
    border: 1px solid var(--light-border-color);
    border-radius: 20px;
    min-width: initial;
    width: 100%;
  }

  .search-jobs-input:last-of-type {
    display: none;
  }
}
